* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --secondary-color: #575f66;
  --tertiary-color: #2e80ce;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

/* ================================= COMMON =============================== */

.main-content {
  width: 1170px;
  margin: auto;
  max-width: calc(100% - 48px);
}

.btn {
  background-color: var(--tertiary-color);
  min-width: 205px;
  line-height: 60px;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 30px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-no-border:hover {
  opacity: 0.8;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.header-1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: -1.4px;
}

.header-2 {
  color: var(--primary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.header-4 {
  color: var(--primary-color);
  text-align: center;
  line-height: 1.75;
}

.section-desc {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66667;
  margin-top: 18px;
}

.control {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  text-align: center;
  line-height: 36px;
  transition: 0.25s;
  cursor: pointer;
}

.control:hover {
  border-color: var(--tertiary-color);
  background: var(--tertiary-color);
}

.control:hover path {
  stroke: #fff;
}

/* ================================= HEADER ======================== */

.header {
  background: var(--primary-color);
  min-height: 100vh;
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__list {
  display: flex;
  gap: 0 42px;
}

.header-top__action--login,
.navbar__link {
  min-width: max-content;
  color: #c9d2da;
  font-weight: 300;
  line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  vertical-align: 10%;
  margin-right: 8px;
}

.header-top__action {
  min-width: max-content;
}

.header-top__action--signup {
  color: #fff;
  min-width: auto;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-left: 28px;
  padding: 8px 20px;
  border-radius: 22px;
}

/* ========== HERO ============= */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 76px;
}

/* content */
.hero__content {
  width: 44.188%;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%; /* 166.667% */
  margin: 22px 0 38px;
}

.hero__action {
  min-width: max-content;
}

.hero__action--phone {
  margin-left: 38px;
}

/* Image */
.hero__images {
  display: flex;
  align-items: center;
  line-height: 0;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img--large {
  max-width: 330px;
  min-width: 150px;
  max-height: 540px;
  min-height: 100%;
  width: 100%;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* ====================================== MAIN ===================================== */

/* ===================== SERVICE ===================== */

.service {
  padding: 170px 0;
}

.service__header2 {
  text-align: center;
}

.service__desc {
  text-align: center;
  margin: 18px auto 70px;
  max-width: 468px;
}

/* --------- Service-row --------- */
.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  max-width: 570px;
  width: 100%;
  min-width: 300px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  display: flex;
  align-items: center;
  width: 470px;
  height: 128px;
  transition: 0.25s;
}

.service-item:hover {
  border-radius: 10px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  margin: 0 19px 0 22px;
  transition: 0.25s;
}

.service-item:hover .service-item__icon {
  box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
  background: var(--tertiary-color);
  color: #fff;
}

.service-item__heading {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.service-item__desc {
  color: var(--secondary-color);
  font-weight: 300;
  line-height: 1.75;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.service__button {
  margin-top: 55px;
}

/* ===================== WORKS ===================== */
.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work__desc {
  max-width: 468px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 338px);
  justify-content: space-between;
  margin-top: 86px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.3s ease-in-out;
}

.work-item:hover {
  border: 16px solid var(--tertiary-color);
  transform: translateY(-16px);
}

.work-item:hover .work-item__more {
  color: var(--tertiary-color);
  font-weight: 400;
}

.work-item__heading {
  color: var(--primary-color);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38462;
  margin: 18px 0 28px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.work-item__desc {
  color: var(--secondary-color);
  font-weight: 300;
  line-height: 1.75;
  max-width: 254px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.work-item__more {
  margin-top: 18px;
}

/* ===================== ABOUT ===================== */

.about {
  padding: 170px 0;
}

.about-row {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  line-height: 0;
}

.about__images {
  min-width: 570px;
  position: relative;
}

.about-content {
  max-width: max-content;
}

.about__images--large {
  width: 512px;
  height: 370px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
  object-position: 0% 25%;
  border-radius: 6px;
}
.about__images--small {
  width: 332px;
  height: 370px;
  object-fit: cover;
  object-position: 0% 100%;
  border-radius: 6px;
  position: absolute;
  top: 121px;
  left: 238px;
}

.about-content {
  margin-top: 82px;
}

.about__heading {
  max-width: 470px;
}

.about__desc {
  max-width: 468px;
  margin-bottom: 38px;
}

/* ===================== TEAM ===================== */
.team {
  padding: 83px 0 85px;
}

.team-header {
  text-align: center;
}

.team__btn {
  margin-top: 38px;
}

.team__list {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(10, minmax(auto, 1fr));
  gap: 0 23.33px;
  grid-template-rows: auto;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 70px;
}

.team-card {
  text-align: center;
}

.team-card:hover .team__img {
  transform: scale(1.06);
}

.team__img {
  width: 270px;
  height: 318px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: 0.25s;
}

.team__desc {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85714;
}

.team__control {
  display: flex;
  justify-content: center;
  gap: 0 18px;
  margin-top: 38px;
}

/* ===================== INSTALL ===================== */

.install {
  padding: 180px 0 85px;
}

.install__inner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 76px 70px;
  border-radius: 4px;
  background: #2e80ce;
  position: relative;
}

.install__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;

  bottom: 0;
}

.install__heading {
  color: #fff;
  max-width: 489px;
}

.install__desc {
  max-width: 586px;
  color: #fff;
  margin-bottom: 38px;
}

.install__app {
  display: flex;
  gap: 0 28px;
}

.install__app--btn {
  line-height: 0;
  transition: 0.4s;
}

.install__app--btn:hover {
  transform: scale(1.1);
}
