* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
  --primary-color: #575f66;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

/* ================================= COMMON =============================== */

.main-content {
  width: 1170px;
  margin: auto;
  max-width: calc(100% - 48px);
}

.btn {
  background-color: #2e80ce;
  padding: 15px 46px;
  font-size: 1.8rem;
  line-height: 166.667%;
  min-width: max-content;
  border-radius: 30px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-no-border:hover {
  opacity: 0.8;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.header-1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: -1.4px;
}

.header-2 {
  color: var(--header-bg);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

/* ================================= HEADER ======================== */

.header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__list {
  display: flex;
  gap: 0 42px;
}

.header-top__action--login,
.navbar__link {
  min-width: max-content;
  color: #c9d2da;
  font-weight: 300;
  line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  vertical-align: 10%;
  margin-right: 8px;
}

.header-top__action {
  min-width: max-content;
}

.header-top__action--signup {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-left: 28px;
  padding: 8px 20px;
  border-radius: 22px;
}

/* ========== HERO ============= */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 76px;
}

/* content */
.hero__content {
  width: 44.188%;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%; /* 166.667% */
  margin: 22px 0 38px;
}

.hero__action {
  min-width: max-content;
}

.hero__action--phone {
  margin-left: 38px;
}

/* Image */
.hero__images {
  display: flex;
  align-items: center;
  line-height: 0;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img--large {
  max-width: 330px;
  min-width: 150px;
  max-height: 540px;
  min-height: 100%;
  width: 100%;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* ====================================== MAIN ===================================== */

/* ===================== SERVICE ===================== */

.service__header2 {
}

.service__desc {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66667;
}
